﻿
@model System.Data.DataSet
@using GrinGlobal.Zone.Helpers.setting

@{
    HtmlHelp help = new HtmlHelp();
}
<!-- ###################################  View/Viability/Index ########################################################## -->
@Scripts.Render("~/bundles/viability/js")
<script type="text/javascript">
    @{
        string accesionNumber = (ViewData[help.SYS_VIABILITY_FIELDNAME_ACCESIONNUMBER]!= null) ? ViewData[help.SYS_VIABILITY_FIELDNAME_ACCESIONNUMBER].ToString() : "";
        string incrementYear = (ViewData[help.SYS_VIABILITY_FIELDNAME_INCREMENTYEAR] != null) ? ViewData[help.SYS_VIABILITY_FIELDNAME_INCREMENTYEAR].ToString()  : "";
        string populationType = (ViewData[help.SYS_VIABILITY_FIELDNAME_IMPROVEMENTSTATUS] != null) ? ViewData[help.SYS_VIABILITY_FIELDNAME_IMPROVEMENTSTATUS].ToString() : "";
        string reproductiveUniform = (ViewData[help.SYS_VIABILITY_FIELDNAME_REPRODUCTIVEUNIFORM] != null) ? ViewData[help.SYS_VIABILITY_FIELDNAME_REPRODUCTIVEUNIFORM].ToString() : "";
        string inventoryId = (ViewData[help.SYS_VIABILITY_FIELDNAME_INVENTORYID] != null) ? ViewData[help.SYS_VIABILITY_FIELDNAME_INVENTORYID].ToString() : "";
        string total = (ViewData[help.SYS_VIABILITY_FIELDNAME_TOTAL] != null) ? ViewData[help.SYS_VIABILITY_FIELDNAME_TOTAL].ToString() : "";
        string inventoryNumbert3 = (ViewData[help.SYS_VIABILITY_FIELDNAME_INVENTORYNUMBERPART3] != null) ? ViewData[help.SYS_VIABILITY_FIELDNAME_INVENTORYNUMBERPART3].ToString() : "";
        string preload = (ViewData[help.SYS_VIABILITY_FIELDNAME_PRELOAD] != null) ? ViewData[help.SYS_VIABILITY_FIELDNAME_PRELOAD].ToString() : "";
    }
    var sysFieldNameAccesionNumber = '@accesionNumber' ;
    var sysFieldNameIncrementYear =  '@incrementYear' ;
    var sysFieldNamePopulationType = '@populationType' ;
    var sysFieldNameReproductiveUniform = '@reproductiveUniform';
    var sysFieldNameTotal = '@total';
    var sysFieldNameInventoryNumberPart3 = '@inventoryNumbert3';
    var sysInventoryId = '@inventoryId';
    var sysPreload = '@preload';
    var urlGetData = '@Url.Action("JsonData", "Viability")';
    var urlLoadGrid = '@Url.Action("Load", "Viability")';
    var urlPreload = '@Url.Action("JsonDataPreload", "Viability")';

</script>
@{
    ViewBag.ViewTitle = "| " + ViewData[help.SYS_VIEWDATA_MODULEID];
}
@Html.Partial(help.SYS_RAZO_GENERICINDEX, Model, new ViewDataDictionary(ViewData))


<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Information
                </div>
                <div class="panel-body" style="display: block;">
                    HEAD
                </div>
                <div class="panel-body" style="display: block;" id="divGrid">
                    @if (ViewData["gridResult"] != null)
                    {
                        @Html.Partial(ViewData["gridResult"].ToString());
                    }
                </div>
            </div>
        </div>
    </div>
</div>