﻿<div class="content" id="divContendCampureData">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel" id="divHPanelGeneralData">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Inventory information:
                </div>
                <div class="panel-body" style="display: block;">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 border-right form-group">
                            <label for="inputInventoryNumber">Inventory Number: </label>
                            <input type="text" id="inputInventoryNumber" class="form-control" readonly />
                        </div>
                        <div class="col-lg-4 col-sm-4 form-group">
                            <label for="inputReplicante">Replicante:</label>
                            <input id="inputReplicante" type="text" class="form-control" readonly />
                        </div>
                        <div class="col-lg-4 col-sm-4 form-group">
                            <label for="inputReplicanteinventory_viability_id_readonly">Inventory viability id:</label>
                            <input id="inventory_viability_id_readonly" type="text" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="row border-top">
                        <div class="col-lg-4 col-sm-4 border-right form-group">
                            <label for="inputAccesion">Accesion: </label>
                            <input id="inputAccesion" class="form-control" type="text" readonly />
                        </div>
                        <div class="col-lg-4 col-sm-4 border-right form-group">
                            <label for="inputAccesionName">Accesion name:</label>
                            <input id="inputAccesionName" class="form-control" readonly type="text" />
                        </div>
                        <div class="col-lg-4 col-sm-4 form-group">
                            <label for="inputTaxonomy">Taxonomy:</label>
                            <input id="inputTaxonomy" class="form-control" readonly type="text" />
                        </div>
                    </div>
                    <div class="row border-top">
                        <div class="col-lg-4 col-sm-4 border-right form-group">
                            <label for="inputNameRule">Viability rule:</label>
                            <input id="inputNameRule" class="form-control" type="text" readonly />
                        </div>
                        <div class="col-lg-4 col-sm-4 border-right form-group">
                            <label for="inputNumberReplicanteRule">Number of Replicantes:</label>
                            <input id="inputNumberReplicanteRule" class="form-control" type="text" readonly />
                        </div>
                        <div class="col-lg-4 col-sm-4 form-group">
                            <label for="inputSeedPerReplicateRule">Seeds per replicate:</label>
                            <input id="inputSeedPerReplicateRule" class="form-control" type="text" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 border-right form-group">
                            <label for="inputStartingDate">Starting date: </label>
                            <input id="inputStartingDate" type="date" class="form-control" />
                        </div>
                        <div class="col-lg-4 col-sm-4 border-right form-group">
                            <label for="inputCountDate">Count date: </label>
                            <input id="inputCountDate" type="date" readonly class="form-control" />
                        </div>
                        <div class="col-lg-4 col-sm-4 form-group">
                            <label for="inputDay">Days:</label>
                            <input id="inputDay" type="number" readonly class="form-control" />
                        </div>
                        <input id="inventory_viability_id" type="hidden" />
                        <input id="inventory_id" type="hidden" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel" id="divHPanelCountData">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Data Collection
                </div>
                <div class="panel-body" style="display: block;">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4" id="divReplicanteNumber" style="font-size:large; font-weight:bold">
                        </div>
                        <div class="col-lg-4 col-sm-4 form-group">
                            <label for="inputCooperatorId">Cooperator:</label>
                            <input class="form-control" type="number" id="inputCooperatorId" aria-describedby="cooperatorIdHelp" />
                            <small id="cooperatorIdHelp" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 bottom-right form-group">
                            <label for="inputCountAbnormal">Abnormal:</label>
                            <input class="form-control" type="number" id="inputCountAbnormal" min="0" pattern="^[0-9]+" />
                        </div>
                        <div class="col-lg-4 col-sm-4 bottom-right form-group">
                            <label for="inputCountDead">Dead:</label>
                            <input class="form-control" type="number" id="inputCountDead" min="0" pattern="^[0-9]+" />
                        </div>
                        <div class="col-lg-4 col-sm-4 bottom-right form-group">
                            <label for="inputCountDormant">Dormant:</label>
                            <input class="form-control" type="number" id="inputCountDormant" min="0" pattern="^[0-9]+" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 bottom-right form-group">
                            <label for="inputCountInfested">Infested:</label>
                            <input class="form-control" type="number" id="inputCountInfested" min="0" pattern="^[0-9]+" />
                        </div>
                        <div class="col-lg-4 col-sm-4 form-group">
                            <label for="inputCountEmpty">Empty:</label>
                            <input class="form-control" type="number" id="inputCountEmpty" min="0" pattern="^[0-9]+" />
                        </div>
                        <div class="col-lg-4 col-sm-4 bottom-right form-group">
                            <label for="inputCountUnknown">Unkown:</label>
                            <input class="form-control" type="number" id="inputCountUnknown" min="0" pattern="^[0-9]+" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 form-group">
                            <label for="inputCountHard">Hard:</label>
                            <input class="form-control" type="number" id="inputCountHard" min="0" pattern="^[0-9]+" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="inputNote">Note:</label>
                            <input class="form-control" type="text" id="inputNote" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 bottom-right form-group">
                            <label for="inputCountNormal">Normal:</label>
                            <input class="form-control" type="number" id="inputCountNormal" readonly />
                        </div>
                        <div class="col-lg-4 col-sm-4 bottom-right form-group">
                            <label for="inputGermination">Germination %:</label>
                            <input class="form-control" type="number" id="inputGermination" readonly />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-2 text-left">
                            <input class="btn btn-success" type="button" id="buttonSave" value="SAVE" />
                        </div>
                        <div class="col-lg-8 col-sm-8 text-left">
                            <input class="btn btn-info" type="button" id="buttonClear" value="CLEAR" />
                        </div>
                        <div class="col-lg-2 col-sm-2 text-right">
                            <input class="btn btn-danger" type="button" id="buttonDelete" value="CANCEL" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel" id="divHpanelInventoryViabilityData">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhidegrid" id="aHpanelInventoryViabilityData"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Inventory Viability Data
                </div>
                <div class="panel-body" style="display: block;">
                    <div class="row" id="divInventoryViabilityData">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel" id="divHpanelViabilityHistory">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhidegrid" id="aHpanelViabilityHistory"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Viability History
                </div>
                <div class="panel-body" style="display: block;">
                    <div class="row" id="divInventoryViability">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>