﻿@model System.Data.DataSet
@using GrinGlobal.Zone.Helpers.setting
<!-- ViabilityDataCollection/Index -->
@{
    HtmlHelp hHelp = new HtmlHelp();
    string fieldQR = ViewData[hHelp.SYS_VIABILITYDATACOLLECTION_FIELDNAME_SCANDQR].ToString();
}

@{
    ViewBag.ViewTitle = "| " + ViewData[hHelp.SYS_VIEWDATA_MODULEID];
}
<script type="text/javascript">
    var urlSearch = '@Url.Action("SearchInventory", "ViabilityDataCollection")';
    var fieldQR = '@fieldQR';
    var urlSave = '@Url.Action("Save", "ViabilityDataCollection")';
    var urlGridInventoryViabilityData = '@Url.Action("GridViewInventoryViabilityData", "ViabilityDataCollection")';
    var urlGridInventoryViability = '@Url.Action("GridViewInventoryViability", "ViabilityDataCollection")';
    var urlValidateCooperateId = '@Url.Action("ValidateCooperateId", "ViabilityDataCollection")';
</script>

@Scripts.Render("~/bundles/viabilitydatacollection/js")

@Html.Partial(hHelp.SYS_RAZO_GENERICINDEX, Model, new ViewDataDictionary(ViewData))


<div class="row">
    @Html.Partial("ComponentDataCollectionPartitial", Model, new ViewDataDictionary(ViewData))
</div>

