﻿@model System.Data.DataSet

<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                Check List
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="clearfix visible-md-block"></div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-1 ">
                            <span id="spanComplete" class="text-primary"> </span>
                        </div>
                        <div class="col-lg-7">
                            <span id="spanSave" class="text-primary"> </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <i id="iTrafficLight" class="fa fa-circle fa-4x" style="color:white" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-4">
                            <label for="texBCheck" id="labelChceck">Scan QR [Intrid]:</label>
                            @Html.DevExpress().TextBox(
                                settings =>
                                {
                                    settings.Name = "textBoxCheck";
                                    settings.Width = 170;
                                    settings.Properties.DisplayFormatString = "";
                                    settings.Text = "";
                                    settings.Properties.ClientSideEvents.KeyPress = "KeyPressTexBCheck";
                                }
                            ).GetHtml()
                        </div>
                        <div class="col-lg-7">
                            Left to scan:<span id="spanFind_Item" class="text-primary">0</span>
                            <br />
                            Last checked:
                            <br />
                            <span id="spanCheck_Item" class="text-primary"> ---- -- -- </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="divLoadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader">
                    <span class="fa fa-spinner fa-spin fa-5x" style="color:cornflowerblue;"></span>
                </div>
                <div clas="loader-txt">
                    <p>Please wait to few seconds. <br><br><small>Working to index data...</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
