﻿@model System.Data.DataSet
@using GrinGlobal.Zone.Helpers.setting

@{
    HtmlHelp hHelp = new HtmlHelp();
}
@Html.Partial("_CheckList")
<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                @Model.Tables[ViewData[hHelp.SYS_VIEWDATA_DATATABLE].ToString()].ExtendedProperties[hHelp.SYS_TABLE_TITLE].ToString()
            </div>
            <div class="panel-body">
                <div class="row">
                    @if (Model.Tables.Contains(hHelp.SYS_TABLE_HEAD))
                    {
                        foreach (System.Data.DataColumn col in Model.Tables["head"].Columns)
                        {
                            if (col.ColumnMapping != System.Data.MappingType.Hidden)
                            {
                                <div class="col-sm-3">
                                    <span class="font-extra-bold">@col.Caption: </span>
                                    @if (Model.Tables[hHelp.SYS_TABLE_HEAD].Rows.Count > 0)
                                    {
                                        @Model.Tables[hHelp.SYS_TABLE_HEAD].Rows[0][col].ToString().Trim()
                                    }
                                </div>
                            }
                        }
                    }
                    <div class="col-sm-3">
                        <span class="font-extra-bold">Total number of records: </span>
                        @Model.Tables[ViewData[hHelp.SYS_VIEWDATA_DATATABLE].ToString()].Rows.Count
                    </div>
                </div>
                <br />
                <div class="row">
                    @Html.Partial(hHelp.SYS_RAZO_GENERICGRIDVIEWSEARCH, Model, new ViewDataDictionary(ViewData))
                </div>
            </div>
        </div>
    </div>
</div>
<audio controls id="audioSuccess" hidden="hidden">
    <source src="@Url.Content("Content/audio/Success.mp3")" type="audio/mpeg">
</audio>
<audio controls id="audioError" hidden="hidden">
    <source src="@Url.Content("Content/audio/Error.mp3")" type="audio/mpeg">
</audio>