﻿@model System.Data.DataSet
@using GrinGlobal.Zone.Helpers.setting
@using GrinGlobal.Zone.Helpers
@using System.Data

@{
    HtmlHelp hHelp = new HtmlHelp();
    DataTable dt = new DataTable();
    dt = Model.Tables[ViewData[hHelp.SYS_VIABILITYPRINT_COMBOBOX_INVNETORYVIABILITYRULE].ToString()];
    string parameters = ViewData[hHelp.SYS_VIEWDATA_PARAMETERS].ToString();
    string tableHeaders = ViewData[hHelp.SYS_VIABILITYPRINT_DATAVIEW_HEADER].ToString();
}
<div class="row">
    @if (Model.Tables.Contains(tableHeaders))
    {
        foreach (System.Data.DataColumn col in Model.Tables[tableHeaders].Columns)
        {
            if (col.ColumnMapping != System.Data.MappingType.Hidden)
            {
                <div class="col-sm-3">
                    <span class="font-extra-bold">@col.Caption: </span>
                    @if (Model.Tables[tableHeaders].Rows.Count > 0)
                    {
                        @Model.Tables[tableHeaders].Rows[0][col].ToString().Trim()
                    }
                </div>
            }
        }
    }
</div>
<div class="row border-top">
    <div class="col-lg-12 col-md-12">
        <label for="comboBoxInventoryViabilityRule">
            Select inventory viability rule:
        </label>
        @Html.DevExpress().ComboBox(settings =>
        {
            settings.Name = "comboBoxInventoryViabilityRule";
            settings.Width = 180;
            //settings.SelectedIndex = 0;
            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
            settings.Properties.DropDownStyle = DropDownStyle.DropDown;
            settings.Properties.TextField = "name";
            settings.Properties.ValueField = "inventory_viability_rule_id";
        }).BindList(dt).GetHtml()
    </div>
</div>
<div class="row border-top">
    <div class="col-lg-12 col-md-12 text-left">
        <input type="button" class="btn btn-success" id="saveButton" value="Create inventories viability" />
    </div>

    @Html.DevExpress().TextBox(text =>
    {
        text.Name = "textParameters";
        text.Text = "Create";
        text.Text = parameters;
        text.ClientVisible = false;
    }
    ).GetHtml()
</div>