﻿@model System.Data.DataSet
@using GrinGlobal.Zone.Helpers.setting
<!-- ViabilityPrint/Index -->
@{
    HtmlHelp hHelp = new HtmlHelp();
}

@{
    ViewBag.ViewTitle = "| " + ViewData[hHelp.SYS_VIEWDATA_MODULEID];
}
<script type="text/javascript">
    var urlSave = '@Url.Action("SaveInventoryViability", "ViabilityPrint")';
</script>

@Scripts.Render("~/bundles/viabilityprint/js")

@Html.Partial(hHelp.SYS_RAZO_GENERICINDEX, Model, new ViewDataDictionary(ViewData))
@if (ViewData[hHelp.SYS_VIEWDATA_PARAMETERS] != null)
{

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Create Inventory viability from order: <span id="spanOrderId" class="badge"></span>
                </div>
                <div class="panel-body" style="display: block;">
                    @Html.Partial("ComponentSaveInventoryViabilityPartitial", Model, new ViewDataDictionary(ViewData))
                    @Html.Partial("MasterPartitial", Model, new ViewDataDictionary(ViewData))
                </div>
            </div>
        </div>
    </div>
}
