﻿@using GrinGlobal.Zone.Helpers

@using (Html.BeginForm("Index", "Search", FormMethod.Post, new { id = "formFilter" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Filters
                </div>

                <div class="panel-body">
                    <div class="row">
                        <input type="hidden" name="moduleId" value="@ViewData["moduleId"].ToString()">
                        <input type="hidden" name="formId" value="@ViewData["formId"].ToString()">

                        @foreach (var field in Settings.Fields(Session["server"].ToString(), ViewData["moduleId"].ToString(), ViewData["formId"].ToString()))
                        {
                            if (field.Attribute("visible").Value == "true")
                            {
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input id="radio @field.Attribute("id").Value" type="radio" name="radios" value="@field.Attribute("id").Value" />
                                            </span>
                                            <input type="@field.Attribute("type").Value" class="form-control" placeholder="@field.Attribute("placeholder").Value" id="text @field.Attribute("id").Value" name="text @field.Attribute("id").Value" onfocus="getElementById('radio @field.Attribute("id").Value').checked = true" />
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="col-lg-3">
                            <button class="btn btn-success btn-circle" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

