﻿@model System.Data.DataSet
@using System.Data
@{
    DataTable dtInput = Model.Tables["HtmlFields"];
    string input = " ||R ";
    string autofocus = "autofocus";
}
<!--#############################################_GenericSearchFields###############################################-->
@using (Html.BeginForm(ViewData["formUrl"].ToString(), ViewData["formController"].ToString(), FormMethod.Post, new { id = ViewData["formIdHtml"].ToString(), @class = "form-inline" }))
{
    <div class="row">
        <div class="col-lg-12">
            @foreach (DataRow row in dtInput.Rows)
            {
                string recurse = "";
                switch (row["type"].ToString())
                {
                    case "select":
                        recurse = "<label for='" + @row["id"].ToString() + "'>" + @row["label"].ToString() + "</label><select class='' id='" + @row["id"].ToString() + "' name='" + @row["name"].ToString() + "' style='" + @row["style"].ToString() + "'> </select>";
                        break;
                    case "hidden":
                        recurse = "<input type='" + @row["type"].ToString() + "' class=''  id='" + @row["id"].ToString() + "' name='" + @row["name"].ToString() + "' value='" + @row["value"].ToString() + "' style='" + @row["style"].ToString() + "' />";
                        break;
                    default:
                        recurse = "<label for='" + @row["id"].ToString() + "'>" + @row["label"].ToString() + "</label> <input type='" + @row["type"].ToString() + "' class='' placeholder='" + @row["placeholder"].ToString() + "' id='" + @row["id"].ToString() + "' name='" + @row["name"].ToString() + "' value='" + @row["value"].ToString() + "' style='" + @row["style"].ToString() + "' " + autofocus + " />";
                        autofocus = "";
                        break;
                }
                if (Convert.ToBoolean(row["visible"].ToString()) == true)
                {
                    string inputTemp = input.Replace("||R", recurse).Replace("'", "\"");
                    @Html.Raw(inputTemp)
                }
                else
                {
                    @Html.Raw(recurse.Replace("'", "\""))
                }
            }
            <button class="btn btn-success btn-circle" id="buttonSubmit" type="submit"><i class="fa fa-search-plus"></i></button><span id="spanSubmit"></span>
        </div>
    </div>
}

