﻿@model System.Data.DataSet
@using System.Data
@using GrinGlobal.Zone.Helpers.setting
@{
    DataTable dtInput = Model.Tables["HtmlFields"];
    HtmlHelp hHelp = new HtmlHelp();
    string error = ViewData[hHelp.SYS_VIEWDATA_MESSAGEERROR] != null ? ViewData[hHelp.SYS_VIEWDATA_MESSAGEERROR].ToString() : "";
    error = error.Replace("\n", " ");
}

<script type="text/javascript">
    var menssageError = '@error';
</script>
<!--#############################################_GenericIndex###############################################-->
<div class="normalheader small-header">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-down"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right">
            </div>
            <h2 class="font-light m-b-xs"> @ViewBag.MenuTitle</h2>
            <small>@ViewBag.MenuTitleInfo</small>
        </div>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    @ViewBag.searchTitle
                </div>
                <div class="panel-body" style="display: block;">
                    @Html.Partial(hHelp.SYS_RAZO_FIELDSEARCH)
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Load -->
<div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt" id="textLoadModal">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Result -->
<div class="modal fade" id="resutlModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="spanModalError"></span> Information</h4>
            </div>
            <div class="modal-body">
                <p id="pModalError"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalButtonClose">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Confirm -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalTitleH"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="confimrModalTextDiv">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="confirmModalButtonCancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmModalButtonContinue">Contiue</button>
            </div>
        </div>
    </div>
</div>