﻿@model System.Data.DataSet
@using GrinGlobal.Zone.Helpers.setting

@{
    HtmlHelp hHelp = new HtmlHelp();
    string SubTitulo = "Update Box";
}
@if (Model.Tables[ViewData[hHelp.SYS_VIEWDATA_DATATABLE].ToString()].Rows.Count == 0)
{
    SubTitulo = "New Box";
}
<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        @SubTitulo
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 border-right">
                        <span class="font-extra-bold">
                            Box:
                            @if (ViewData[hHelp.SYS_BOX_DATAVIEW_STORAGELOCATION] != null)
                            {
                                @ViewData[hHelp.SYS_BOX_DATAVIEW_STORAGELOCATION].ToString()
                            }
                        </span>
                    </div>
                    <div class="col-lg-6">
                        <span class="font-extra-bold">Total numbre of records: <span id="spanCount">@Model.Tables[ViewData[hHelp.SYS_VIEWDATA_DATATABLE].ToString()].Rows.Count</span></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 border-left">
                        <p>
                            <input type="hidden" name="parameter" value="@ViewData[hHelp.SYS_VIEWDATA_PARAMETERS].ToString()">
                            <input type="hidden" name="storageLocation" value="@ViewData[hHelp.SYS_BOX_DATAVIEW_STORAGELOCATION].ToString()">
                            @{
                                Html.DevExpress().Button(
                                buttonSettings =>
                                {
                                    buttonSettings.Name = "btnOrder";
                                    buttonSettings.ControlStyle.CssClass = "btn btn-circle";
                                    buttonSettings.Text = "Reorder items";
                                    buttonSettings.ClientSideEvents.Click = "reorderItem";
                                }
                                ).Render();
                            }
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <small> <strong>- Scan inventory:</strong> </small>
                        <input type="text" placeholder="Inventory" name="texBCheck" id="texBCheck" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 border-top">
                        <p>
                            @if (ViewData[hHelp.SYS_VIEWDATA_DATATABLE] != null)
                            {
                                Html.RenderPartial("_GridViewSearch", Model, new ViewDataDictionary(ViewData));
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="resutlModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="spanModalError"></span> Information</h4>
            </div>
            <div class="modal-body">
                <p id="pModalError"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

